<br>

<center><button id="mainNavBtnMasternodes" type="button" class="btn btn-outline-primary">My Masternodes</button>
<button id="mainNavBtnMasternodes_list" type="button" class="btn btn-outline-info">Masternode List</button>

<ul class="list-group">
    <li class="list-group-item d-row justify-content-between align-items-center">
    Total Registered:
    <span class="badge badge-primary badge-pill"><span id="MasternodesAllCount">NaN</span></span>
    Active Masternodes:
    <span class="badge badge-primary badge-pill"><span id="MasternodesEnabledCount">NaN</span></span>
</div>
    </li>
  </li>
</ul>

<table id="tx-tabletableMasternodeList" class="table table-sm">
  <thead>
    <tr>
      <th class="text-center">IP</th>
      <th class="text-center">Status</th>  
      <th class="text-center">Last paid</th>
      <th class="text-center">Address</th>
      <th class="text-center">Protocol</th>
    </tr>
  </thead>
  <tbody class="text-center">
    
  </tbody>
</table>

