<div class="alert alert-warning" role="alert">
  Wallet in <b>BETA</b> testing mode. Please be carefull with your funds!
</div>

<br>
<center><button id="mainNavBtnSend" type="button" class="btn btn-outline-success">Simple</button>
<button id="mainNavBtnSend_advanced" type="button" class="btn btn-outline-primary">Advanced</button></center>
<br>

<div class="alert alert-success d-none" id="successSend" role="alert">
  Successfully sent to: <span id="successSend"></span>
</div>
<div class="alert alert-danger d-none" id="failedSend" role="alert">
  Error, failed to send coins!
</div>