<br>

<ul class="list-group">
    <li class="list-group-item d-row justify-content-between align-items-center">
    <center>Total ever registered:
    <span class="badge badge-primary badge-pill"><span id="StoradeAllCount">NaN</span></span>
    Active nodes:
    <span class="badge badge-primary badge-pill"><span id="StoradeEnabledCount">NaN</span></span>
    Total free space:
    <span class="badge badge-primary badge-pill"><span id="StoradeFreeSpace">NaN GB</span></span>
    Used space:
    <span class="badge badge-primary badge-pill">2 MB</span></center>
</div>
    </li>
  </li>
</ul>

<table id="tx-tableStorade" class="table table-sm">
  <thead>
    <tr>
      <th class="text-center">IP</th>
      <th class="text-center">Status</th>
      <th class="text-center">Last Seen</th>   
      <th class="text-center">Python Version</th>     
      <th class="text-center">Operating System</th>
      <th class="text-center">Free Storage</th>
    </tr>
  </thead>
  <tbody class="text-center">
    
  </tbody>
</table>
